apiVersion: v1
kind: Service
metadata:
  {{- include "default_metadata" . | indent 2}}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "default_labels" . | indent 4 }}
